<form action="/updatebook" method="post">
    <input type="hidden" name="code" value ="<%= book.code %>">
    Name : <input type="text" name="name" value ="<%= book.name %>"><br>
    Author : <input type="text" name="author" value ="<%= book.author %>"><br>
    <input type="submit" value="Save">
</form>